body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
}

/* العنوان */
header {
  background-color: #000;
  border-bottom: 3px solid #ffc107;
  padding: 25px;
  text-align: center;
}

header h1 {
  color: #ffc107;
  margin: 0;
}

header p {
  color: #fff;
  margin-top: 5px;
}

/* الأقسام */
section {
  background-color: #111;
  margin: 15px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ffc107;
}

/* الكروت */
.card {
  background-color: #000;
  border: 2px solid #ffc107;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  margin-bottom: 20px;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card h3 {
  color: #ffc107;
  padding: 10px;
}

/* الروابط */
a {
  color: #ffc107;
  font-weight: bold;
  text-decoration: none;
}

/* الأزرار */
.whatsapp,
.call {
  position: fixed;
  right: 15px;
  padding: 12px 18px;
  background-color: #ffc107;
  color: #000;
  font-weight: bold;
  border-radius: 30px;
}

.whatsapp {
  bottom: 80px;
}

.call {
  bottom: 20px;
}

/* الفوتر */
footer {
  background-color: #000;
  color: #fff;
  padding: 15px;
  text-align: center;
  border-top: 2px solid #ffc107;
}
